    * {
        margin: 0;
    }
    
    body {
        max-width: 100%;
        min-width: 100%;
    }
    
    header {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 1rem;
        height: 7rem;
        width: 100%;
    }
    
    header div {}
    
    div#logo img {
        display: inline-block;
        height: 1%;
        width: 5%;
    }
    
    nav ul li {
        padding-right: 2rem;
        float: right;
        display: flex;
        list-style: none;
    }
    
    nav ul li i {
        color: #fff;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    main {}
    
    #welcome {
        font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    }
    
    #title {
        text-align: center;
    }
    
    .slide {
        padding: 1rem;
        display: inline-block;
        width: 10rem;
        height: 10rem;
        background-color: #000;
    }
    
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 1rem;
        background-color: #efefef;
        text-align: center;
    }
    
    p#copyright {
        margin-left: 20px;
        font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
        font-size: 16px;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        line-height: 26.4px;
    }